.container {
  background-image: url("./assets/images/woven-light.png");
  background-position: center;
  background-size: auto;
  height: 800px;
  width: 800px;
  margin: auto;
  position: relative;
}
