.container {
  background-image: url("./assets/images/woven-light.png");
  background-position: center;
  background-size: auto;
  height: 800px;
  width: 800px;
  margin: auto;
  position: relative;
}

.table-container {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Anton SC", sans-serif;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

th,
td {
  padding: 8px;
}

thead,
tfoot {
  background-color: burlywood;
  color: white;
}

tbody {
  background-color: white;
}

.code {
  font-family: monospace;
  background-color: blanchedalmond;
  font-size: 15px;
}
