.container {
  background-image: url("./assets/images/woven-light.png");
  background-position: center;
  background-size: auto;
  height: 800px;
  width: 800px;
  margin: auto;
  position: relative;
}

.table-container {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
}
